@media (max-width: 767.98px) {
  .luxury_package_title {
    font-size: 14px;
    line-height: 20px !important;
  }

  .luxury_package_details {
    display: none;
  }

  .luxury_package_location {
    display: none;
  }

  .luxury_package_meta {
    margin-top: 0px !important;
  }

  /* home hero slider */
  .home_slider_arrows {
    display: none;
  }

  .hero_slider_title {
    font-size: 25px !important;
    line-height: 26px !important;
  }
  /* home hero slider */

  .home_titles {
    font-size: 18px !important;
  }

  /* popular package slider */

  .home_popular_image {
    height: 280px !important;
  }

  .home_popular_title {
    font-size: 14px !important;
  }

  /* home testinomial */

  .home_testinomial {
    font-size: 15px !important;
  }
  /* home testinomial end */

  .beach_title {
    font-size: 20px !important;
  }

  .beach_image {
    display: none;
  }

  /* destination page */
  .destination_title {
    font-size: 15px !important;
  }

  .destination_hidden {
    display: none;
  }

  .destination_description {
    font-size: 12px;
    text-align: justify;
  }

  .mobile_view_background {
    height: auto !important;
  }

  .mobile_video {
    object-fit: contain !important;
  }
  /* destination page end*/
}

/* destination header customization */

.sub-menu-for-destination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.header-navigation .main-menu ul > li:hover > .sub-menu-for-destination {
  width: 50vw;
  left: -210px;
  margin-bottom: 20px;
  justify-content: center;
}

.region {
  display: flex;
  flex-direction: column;
}

.region h3 {
  margin: 0;
}

.countries {
  margin: 16px;
  cursor: pointer;
}

.sub-menu .countries p:hover {
  background-color: rgba(73, 247, 30, 0.1);
}
